<div class="fixed-top-killer">
<div class="container mx my-5" id="about">
    <div class="orange-box1">
        <div class="about-me">
            <h3>The girl</h3>
            <p>
                After working in 5 different countries on 2 different careers, I have made a life changing decision by learning programming and enrolled Le Wagon Tokyo.
            </p> 
            <p>
                I am currently teaching IT to kids while working on different projects on the side. 
                I like to bring my previous experiences and knowledge in the tourism and education field in making great apps for both  the companies and their clients. Coming from an environment far from technologies, I always keep in mind responsivness and accessibility of the users. 
                <br>Basically, if my dad can't use it, that's not a good app!
            </p>
            <p>
                When I am not coding, I practise Kitsuke (Kimono) dance (Yosakoi, Kpop) or travel around Japan.
            </p> 
            <p>
                Don't hesitate to reach out either in French, English or -with a bit of patience- in Japanese. 
            </p>

            <h5 id="contact">Let's connect</h5>
                <a href="https://github.com/Ren33000", target="#"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/ren33000", target="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/mylenejapan/", target="#"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:ren33000@yahoo.com?subject=Contact from Ren's portfolio", target="#"><i class="fas fa-at"></i></a>
        </div>
    </div>
</div>
</div>