<div class="fixed-top-killer", id="about">
    <div class="container" >
        <div class="orange-box1">
            <%# profile pic %>
            <div class="about about-photo" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="0" data-aos-duration="800" data-aos-offset="0" data-aos-once="false">
                <%= image_tag 'profile.png', class: 'profile-img', alt: 'Profile photo' %>
            </div>
    
            <%# profile-text %>
            <div class="about-me-content">
                <h2>The person</h2>
                <p>
                    After working in 5 different countries on 2 different careers, I have made a life changing decision by learning programming and enrolled Le Wagon Tokyo.
                </p> 
                <p>
                    I like to bring my previous experiences and knowledge in the tourism and education field in making great apps for both  the companies and their clients. 
                    I always keep in mind responsivness and accessibility of the users. 
                    <br>Basically, if my dad can't use it, that's not a good app!
                </p>
                <p>
                    When I am not coding, I practise Kitsuke (Kimono) dance (Yosakoi, Kpop) or travel around Japan.
                </p> 
            </div>
        </div>
    </div>
</div>