<div class="fixed-top-killer", id="about">
    <div class="container" >
        <div class="orange-box1">
            <h2 class="div1">The person</h2>
            <div class="row align-items-center">
                <div class="col-12 col-md-6 my-5">
                     <div class="about about-photo" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >
                     <%= image_tag 'https://res.cloudinary.com/ren33000/image/upload/v1632047564/IMG_20200919_112801_xcakk5.jpg', class: 'profile-img', alt: 'Profile photo' %>
                    </div>
                </div>
                <%# data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="0" data-aos-duration="1000" data-aos-offset="0" data-aos-once="false" %>

                <div class="col-12 col-md-6 my-5">
                    <div class="about-me-content ">  
                        <p>
                            After working in 5 different countries on 2 different careers, I have made a life changing decision by learning programming and enrolled Le Wagon Tokyo.
                        </p> 
                        <p>
                            I like to bring my previous experiences and knowledge in the tourism and education field and always keep in mind responsivness and accessibility of the users. 
                            <br>Basically, if my dad can't use it, that's not a good app!
                        </p>
                        <p>
                            When I am not coding, I practise Kitsuke (Kimono) dance (Yosakoi, Kpop) or travel around Japan.
                        </p> 
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>