<div class="banner">
    <%= image_tag "avatar.jpg", alt: "Ren avatar", class:"banner-img" %>
    <div class="banner-text">
        <h1>Hi / Salut, I'm Mylene</h1>
        <h4 class="mt-5">A Front-End developer in Tokyo</h4>
    </div>
</div>
