<div class="fixed-top-killer", id="top">
    <div class="banner", data-aos="zoom-out-down" data-aos-easing="ease-in-out" data-aos-delay="0" data-aos-duration="1200" data-aos-offset="0" data-aos-once="false">
        <%= image_tag "avatar.jpg", alt: "Ren avatar", class:"banner-img" %>
        <div class="mt-5 mx-3", id="banner-text">
            <h1>Bonjour, I'm <span id="name-gradient">Mylène</span></h1>
            <h4 class="mt-5">A <span id="animate"></span> in Tokyo</h4>
        </div>
    </div>
</div>

