<div class="fixed-top-killer">
    <div class="banner", id="top">
        <%= image_tag "avatar.jpg", alt: "Ren avatar", class:"banner-img" %>
        <div class="mt-5 mx-3", id="banner-text">
            <h1>Bonjour, I'm Mylene</h1>
            <h4 class="mt-5">A <span id="animate"></span> in Tokyo</h4>
        </div>
    </div>
</div>

