<div class="orange-box2">
    <h2 id="contact">Let's connect</h2>
    <div>
        <a href="https://github.com/Ren33000", target="#"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/ren33000", target="#"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/mylenejapan/", target="#"><i class="fab fa-linkedin"></i></a>
        <a href="mailto:ren33000@yahoo.com?subject=Contact from Ren's portfolio", target="#"><i class="fas fa-at"></i></a>
    </div>
</div>