<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Ren33000"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/mylenejapan/"><i class="fab fa-linkedin"></i></a>
  </div>
  
  <div class="footer-copyright">
    <p>Made with Middleman</p>
  </div>
</div>