<div class="fixed-top-killer", id="skills">
    <div class="container">
        <div class="orange-box2">
            <div class="div1"><h2>The coder</h2></div>
            <div class="row">
                <div class="col-12 col-md-6 my-5">
                    <h3 id='name-gradient'>Soft skills</h3>
                    <p>
                    I believe my strongest asset to any team are the various soft skills I have developed during my previous careers such as:
                        <ul>
                            <li>Team-work and collaboration</li>
                            <li>Accountability</li>
                            <li>Self-learning</li>
                            <li>Patience</li>
                            <li>Empathy</li>
                        </ul> 
                    </p>                   
                </div>

                <div class="col-12 col-md-6 my-5">
                    <h3 id='name-gradient'>Technical skills</h3>
                    <div class="devicon">
                        <div class="F-E" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                            <i class="devicon-html5-plain"></i>
                            <i class="devicon-css3-plain" ></i>
                            <i class="devicon-bootstrap-plain"></i>
                            <i class="devicon-javascript-plain"></i>
                            <i class="devicon-react-original"></i>
                            <i class="devicon-sass-original"></i>
                            <i class="devicon-wordpress-plain"></i>
                            <i class="devicon-figma-plain"></i>
                        </div>

                        <div class="B-E" data-aos="flip-right" data-aos-delay="0.3" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                            <i class="devicon-ruby-plain"></i>
                            <i class="devicon-rails-plain-wordmark"></i>
                            <i class="devicon-postgresql-plain"></i>
                            <i class="devicon-git-plain"></i>
                            <i class="devicon-github-original"></i>
                            <i class="devicon-heroku-original"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>