<div class="fixed-top-killer", id="skills">
    <div class="container">
        <div class="orange-box2">
            <h2>The coder</h2>
            <div class="row">
                <div class="col-12 col-md-6 my-5">
                    <h2>Soft skills</h2>
                    <p>
                    I believe my strongest asset to any team are the various soft skills I have developed during my previous careers such as:
                        <li>Team-work and collaboration</li>
                        <li>Accountability</li>
                        <li>Self-learning</li>
                        <li>Patience</li>
                        <li>Empathy</li> 
                    </p>                   
                </div>

                <div class="col-12 col-md-6 my-5">
                    <h2>Technical skills</h2>
                    <div class="devicon">
                        <i class="devicon-html5-plain"></i>
                        <i class="devicon-css3-plain"></i>
                        <i class="devicon-bootstrap-plain"></i>
                        <i class="devicon-javascript-plain"></i>
                        <i class="devicon-react-original"></i>
                        <i class="devicon-sass-original"></i>
                        <i class="devicon-figma-plain"></i>

                        <i class="devicon-ruby-plain"></i>
                        <i class="devicon-rails-plain-wordmark"></i>
                        <i class="devicon-postgresql-plain"></i>
                        <i class="devicon-git-plain"></i>
                        <i class="devicon-github-original"></i>
                        <i class="devicon-heroku-original"></i>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>