<div class="container">
<h3>About me</h3>
<p> 
    After working in 5 different countries on 2 different careers, I have made a life changing decision by learning how to code. 
    <br>I am now teaching IT to kids in Tokyo while working on different projects on the side. Currently looking for the right company in tech to be a good fit in an open-minded team where I could develop further my skills.
    <br>Don't hesitate to reach out to talk about programming either in French, English or -with a bit of patience- in Japanese. 
    <br>When I am not coding, I practise Kitsuke (Kimono) dance (Yosakoi, Kpop) or travel around Japan.
</p>
<h6>Let's connect</h6>
    <a href="https://github.com/Ren33000"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/mylenejapan/"><i class="fab fa-linkedin"></i></a>
</div>