.banner {
    position: relative;
    margin: 0 auto;
    padding: 120px 0px;
    // background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}