.footer {
    background-image: linear-gradient(75deg, #EB5C33 0%, #0000 100%);
    display: flex;
    align-items: center;
    color: rgba(218, 211, 211, 0.74);
    flex-direction: column;
    height: 85px;
    justify-content: center;
}

.footer-copyright {
    margin-top: 10px;
}

.footer-copyright p {
    color: #000;
}

// Small devices
@media (min-width: 480px) {
    
    
}