// skills icons
.devicon {
  color: rgba(255, 146, 110, 0.883);
  text-decoration: none;
  font-size: 50px;
  padding: 15px 10px;
}


// Fontawesome icons
.fab, .fas {
    color: rgba(255, 146, 110, 0.883);
    opacity: 0.15;
    text-decoration: none;
    font-size: 40px;
    padding: 15px 10px;
}

.fab:hover, .fas:hover {
    opacity: 1;
}