.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(95deg, #000000 0%, #EB5C33 100%);
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50px;
}

.nav-link {
  font-family: $headers-font;
  font-size: 17px;
  text-align: center;
}