
.profile-img {
    width: 100%;
    max-width: 380px;
    min-height: 350px;
    background-position: 50% 50%;
    object-fit: cover;
    align-content: center; 
    border: 1px solid #383232;
    border-radius: 2px;
    padding: 13px;
    box-shadow: 0 0 15px #131212;
}

img {
  box-shadow: 0 0 15px #2b2a29; 
}

ul {
  list-style-type: circle;
}


// Small devices
@media (max-width: 480px) {
    .profile-img {
    width: 90%;
    }
}
