.card-category {
  background-size: cover;
  background-position: center;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  margin-bottom: 7em;
}

.card-description {
  background-color: white;
  padding: 10px;
  margin-top: -24px;
  position: absolute;
  bottom: -170px;
  width: 90%;
  border-radius: 5px;
  height: 230px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    color: grey;
    font-size: 22px;
  }
  p {
    margin-bottom: 4px;
    font-weight: lighter;
  }
  h5 {
    font-weight: bold;
  }
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 135px;
  // background-color: white;
  padding: 24px;
  padding-bottom: 130px;
}

.external-link {
  margin-left: 8px;
  color: red;
  opacity: 0;
  // color: grey;
  transition: opacity 1s;
  &:hover {
    cursor: pointer;
    color: grey;
  }
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .external-link {
    opacity: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}