.card-category {
  background-size: cover;
  background-position: center;
  // width: 315px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  margin-bottom: 7em;
}

.card-description {
  background-image: linear-gradient(210deg, #000000 0%, #EB5C33 100%);
  padding: 5px;
  margin-top: -24px;
  position: absolute;
  bottom: -220px;
  width: 90%;
  border-radius: 5px;
  height: 300px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    color: #ffffff;
    font-size: 25px;
  }
  p {
    margin-bottom: 4px;
    font-weight: lighter;
  }
  h5 {
    font-weight: bold;
  }
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 135px;
  padding: 24px;
  padding-bottom: 150px;
}

.card-description .fab {
  color: black;
  opacity: 0.5;
  &:hover {
    opacity: 1;} 
}

.card-description .fas {
  color: black;
  opacity: 0.5;
  &:hover {
    opacity: 1;} 
}



.external-link {
  margin-left: 8px;
  color: black;
  opacity: 1;
  // color: grey;
  transition: opacity 1s;
  &:hover {
    cursor: pointer;
    color: grey;
  }
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

