.card-category {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  // width: 315px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px #2b2a29;
  position: relative;
  margin-bottom: 7em;
}

.card-description {
  background-image: linear-gradient(210deg, #ffb427 0%, #EB5C33 100%);
  padding: 15px;
  margin-top: -24px;
  position: absolute;
  bottom: -220px;
  width: 90%;
  border-radius: 5px;
  height: 300px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 15px #2b2a29;

  span {
    color: #3a1d10;
    font-size: 30px;
  }
  p {
    margin-bottom: 4px;
    font-weight: lighter;
    color: #3a1d10;
  }
  h4 {
    font-weight: bold;
    color: #3a1d10;

  }
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

/* Section Break 1 */
.section-break-1 {
  background-color: transparent;
  border: 0;
  border-top: 3px double #3A1D10;
  height: 3px;
  margin: 1rem auto;
  width: 80%;

  &:before {
    background-color: #f09033;
    color: #3A1D10;
    content: '\22A1';
    font-size: 20px;
    left: 50%;
    letter-spacing: 0;
    line-height: 1;
    position: absolute;
    text-indent: -2px;
    text-rendering: geometricPrecision;
    transform: translate(-50%, -65%);
    width: 10px;
  }
}





.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 135px;
  padding: 24px;
  padding-bottom: 150px;
  
}

.card-description .fab {
  color: black;
  opacity: 0.5;
  &:hover {
    opacity: 1;} 
}

.card-description .fas {
  color: black;
  opacity: 0.5;
  &:hover {
    opacity: 1;} 
}



.external-link {
  margin-left: 8px;
  color: black;
  opacity: 1;
  // color: grey;
  transition: opacity 1s;
  &:hover {
    cursor: pointer;
    color: grey;
  }
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

