<div class="container">
  <h1>Hello world, I am Mylene</h1>
  <h2>A Front End Developer from France, living in Japan</h2>
  <i><p>France - Canada - China - Taiwan - Japan</p></i>

  <div class="container">
    <h3 align="center">Languages and Tools:</h3>
    <p align="center"> <a href="https://getbootstrap.com" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="40" height="40"/> </a> <a href="https://www.w3schools.com/css/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40"/> </a> <a href="https://www.figma.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma" width="40" height="40"/> </a> <a href="https://git-scm.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40"/> </a> <a href="https://heroku.com" target="_blank"> <img src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku" width="40" height="40"/> </a> <a href="https://www.w3.org/html/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40"/> </a> <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/> </a> <a href="https://middlemanapp.com/" target="_blank"> <img src="https://raw.githubusercontent.com/leungwensen/svg-icon/b84b3f3a3da329b7c1d02346865f8e98beb05413/dist/svg/logos/middleman.svg" alt="middleman" width="40" height="40"/> </a> <a href="https://www.mysql.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="40" height="40"/> </a> <a href="https://www.postgresql.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40"/> </a> <a href="https://rubyonrails.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="rails" width="40" height="40"/> </a> <a href="https://reactjs.org/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="40" height="40"/> </a> <a href="https://redis.io" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redis/redis-original-wordmark.svg" alt="redis" width="40" height="40"/> </a> <a href="https://www.ruby-lang.org/en/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" alt="ruby" width="40" height="40"/> </a> <a href="https://sass-lang.com" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="sass" width="40" height="40"/> </a> <a href="https://www.sqlite.org/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="sqlite" width="40" height="40"/> </a> <a href="https://webpack.js.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/d00d0969292a6569d45b06d3f350f463a0107b0d/icons/webpack/webpack-original-wordmark.svg" alt="webpack" width="40" height="40"/> </a> </p>
  </div>

  <div class="container">
    <h3>About me</h3>
    <p></p>

  </div>

  <div class="container">
    <h3>My projects</h3>
      <div class="content">
        <h3>My watchlist</h3>
        <p>
            <i><i class="fas fa-user-tag"></i> Full-stack dev (2 days solo project)</i>
        </p>
        <p>
            A simple app where you can create and manage your movie lists (API call + Cloudinary).
        </p>
      <div>

      <div class="content">
        <h3>The Central Gaijin Library</h3>
        <p>
          <i><i class="fas fa-user-tag"></i> Front-End lead (1 week group project)</i>
        </p>
        <p>
          A marketplace app where users can rent books from each others. Designed for mobile first.
          <br />Tech used: API call, Devise, Pundit, Mapbox.
          <p> My presentation of the app mid-way finished
          <a href="https://youtu.be/V3R7pNjc1dY?t=861" target="blank">YouTube</a></p>
         </p>
      <div>

      <div class="content">
        <h3>Midorin</h3>
        <p>
            <i><i class="fas fa-user-tag"></i> Product-manager (2 weeks group project)</i>
        </p>
        <p>
            Final group project, an app to take care of your plants. Smart seeds and API, chatroom and scanner feature.
        </p>
      <div>

  </div>

  <ul class="icons">
    <li>
        <a href="https://github.com/Ren33000">
        <span class="label">Github</span></a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/mylenejapan/">
      <span class="label">Linkedin</span></a>
    </li>
  </ul>
</div>
